:root {
  --blue: rgb(18, 18, 18);
  --white: rgb(236, 236, 236);
}

body {
  margin-top: 0px;
  margin-right: 150px;
  margin-left: 150px;
  padding: 0px;
  font-family: system-ui;
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;

  #darkMode,
  #darkMode:focus {
    filter: none;
    --background-color: var(--blue);
    cursor: pointer;
  }

#darkMode.clicked {
  filter: none !important;
}
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;

  #darkMode,
  #darkMode:focus {
  filter: none;
  --background-color: var(--white);
  cursor: pointer;
}
  #reviewCard {
    background-color: grey;
  }
  #overallCard {
    background-color: rgba(99, 98, 98, 0.737);
  }
  #leftCard {
    background-color: rgb(171, 174, 182);
  }
  .MuiLinearProgress-colorPrimary {
    background-color: rgb(68, 66, 66);
  }
  .MuiLinearProgress-barColorPrimary {
    background-color: grey;
  }

#darkMode.clicked {
  filter: none !important;
}
}

h1 {
  font-family: 'Prototype Regular';
}

#header {
  background-color: grey;
  height: 75px;
  margin-bottom: 25px;
}

#title {
  color: white;
  font-size: 75px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-left: 20px;
}

#message {
  padding-bottom: 25px;
  justify-self: center;
}

#view-reviews {
  position: absolute;
  padding-left: 10px;
  top: 148px;
  color: rgb(74, 74, 74);
}

.currentProduct {
  display: flex;
}

.text {
  color: rgb(90, 90, 90);
  padding: 10px;
  font-weight: 200;
}

#Styles {
  background-color: #800080;
  width: 400px;
}

#left-arrow {
  position: absolute;
  top: 400px;
  left: 275px;
  font-size: x-large;
  z-index: 2;
  background-color: rgba(255, 252, 252, 0.3);
  opacity: .8
}

#left-arrow-expanded {
  position: absolute;
  top: 400px;
  left: 420px;
  font-size: x-large;
  z-index: 2;
  background-color: rgba(255, 252, 252, 0.3);
  opacity: .8
}

#left-arrow-gone {
  opacity: 0;
}

#right-arrow {
  position: absolute;
  top: 400px;
  left: 705px;
  font-size: x-large;
  z-index: 2;
  background-color: rgba(255, 252, 252, 0.3);
  opacity: .8
}

#right-arrow-expanded {
  position: absolute;
  top: 400px;
  left: 1005px;
  font-size: x-large;
  z-index: 2;
  background-color: rgba(255, 252, 252, 0.3);
  opacity: .8
}

#right-arrow-gone {
  opacity: 0;
}

#image-container{
  background-color: rgb(217, 217, 217);
  height: 600px;
  width: 700px;
  justify-content: center;
}



#selected-style-image {
  opacity: 1;
}


.carousel-image:hover {
  opacity: 1;
}

#image{
  object-fit: cover;
  height: 600px;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  max-width: 700px;
}



.prodInfo {
  display: flex;
  flex-direction: column;
  width: 420px;
  padding-left: 20px;
}

#stylePhotos {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  justify-content: left;
  padding-bottom:20px;
}

#category {
  font-weight: 300;
}

#prodName {
  font-size: xx-large;
  color: rgb(90, 90, 90);
}

.price {
  flex-wrap: wrap;
  padding-top: 20px;
}
#prodPrice {
  padding-top: 20px;
}

.productStyle {
  display: flex;
}

#stylePointer {
  padding-top: 20px;
  padding-bottom: 20px;
}

#styleName {
  justify-content: right;
  padding-top: 20px;
  font-weight: 300;
}

#checkmark {
  position: absolute;
}

#style-photo{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin: 12px;
}

#select-size-container {
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  padding-bottom: 20px;

}

#alert-message {
  color: red;
}

#select-size {
  width: 40%;
  height: 100%;
  flex: wrap;
  justify-content: center;
}

#select-amount {
  width: 40%;
  height: 100%;
}

#cart-heart {
  height: 40px;
  flex: wrap;
  justify-content: space-evenly;
}

#cart {
  width: 30%;
  height: 100%;
  background-color: white;
  border: 1px black solid;
}

#view-cart {
  width: 30%;
  height: 100%;
  background-color: white;
  border: 1px black solid;
}

#heart {
  font-size: x-large;
  border: black;
  position: absolute;
  left: 1200px;
}

#social {
  // border: 2px black solid;
  padding-top: 20px;
  display: flex;
  flex-direction: row;

}

#twitter {
  height: 50px;
  width: 50px;
  background-color: rgb(40, 169, 255);
  justify-content: center;
}

// #modal-image {
//   height: 1000px;
//   position: absolute;
//   top: -400px;
//   background-image: transparent;
// }

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#expanded-image {
  position: absolute;
  object-fit: cover;
  height: 1000px;
  max-width: 1000px;
  top: 50%;
  left: 50%;
  background-size: cover;
  justify-content: center;
  transform: translate(-50%, -50%);
  // align-items: center;
  border: 500px black solid;
  z-index: 2;
  cursor: crosshair;
}

#zoomed-image {
  position: absolute;
  object-fit: cover;
  height: 1000px;
  max-width: 1000px;
  background-size: cover;
  transform-origin: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transform: scale(2.5);
  // align-items: center;
  border: 600px black solid;
  z-index: 2;
  cursor: url('https://img.icons8.com/material-outlined/24/null/minus-math.png') auto;
}

#image-carousel {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  position: absolute;
  height: 500px;
  width: 75px;
  outline-width: 50px;
  z-index: 2;
}

.carousel-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 50%;
  z-index: 3;
}

#image-carousel-expanded {
  position: absolute;
  top: 700px;
  left: 500px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 50%;
  z-index: 3;
}

////////////////////////////////

.Reviews {
  display: flex;
  justify-content: row;
  // max-width: 100px;
  // max-height: 100px;
  border: 1px solid black;
  // padding-left: 20px;
  // padding-right: 20px;
  // justify-content: space-evenly;
  // font-family:cursive;
}

.ReviewsRight {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right:20px;
  max-width: 80%;
}

.ReviewsLeft {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right:20px;
  max-width: 20%;
}

.ReviewTile {
  border: 4px solid black;
  position: sticky;
  float: 3px;
  max-width: 100%;

}

.reviewTime {
  // flex-direction: row;
  border: 1px solid black;
  // justify-content: space-evenly;
  // padding-right: 100%;
}

.container {
  max-height: 700px;
  overflow: auto;
  border-bottom: solid;
  margin-bottom: 20px;
  padding-bottom: 10px;

}

#searchbar{
    background-color: white;
    background-image: url('./searchicon.png');
    background-position: 98% 8px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: clamp(200px, 550px, 700px);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.text-muted{
  font-size: x-small;
  font-weight: 100;
}
.modal-input{
  width: 40%;
  height: 5%;
}
.answerthumbnail {
  margin: auto;
  object-fit: contain;
  cursor: pointer;
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: red;
    border-radius: 5px;
  }
}

.required::after{
  content: "*";
}
.qnabtn{
  background-color:white;
  border-color: black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer;
  &:hover{
    background-color: rgb(216, 213, 213);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

.title{
  font-size: large;
  margin-right: 2px;
  font-weight: bold;
  display:contents;
}

.text-muted2{
  font-size: 13px;
  font-weight: 100;
  margin-bottom: 10px;
}
.txtbtn{
  cursor: pointer;
  &:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}
.ans{
  font-weight:900;
  font-size: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
}
.anstile{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0,0,0,0.19);
  border-radius: 0px 10px;
}
.question{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#darkMode {
  background-color: var(--background-color);
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}


