// * {
//   border: 1px  black solid;
// }


body {
  margin-top: 0px;
  margin-right: 150px;
  margin-left: 150px;
  padding: 0px;
  background-color: white;
  font-family: system-ui;
}

h1 {
  font-family: 'Prototype Regular';
}

#header {
  background-color: grey;
  height: 75px;
  margin-bottom: 50px;
}
.currentProduct {
  display: flex;
}

.text {
  color: rgb(90, 90, 90);
  padding: 10px;
  font-weight: 200;
}

#Styles {
  background-color: #800080;
  width: 400px;
}

#left-arrow {
  position: absolute;
  top: 400px;
  left: 275px;
  font-size: x-large;
}

#right-arrow {
  position: absolute;
  top: 400px;
  left: 705px;
  font-size: x-large;
}

#image-container{
  background-color: rgb(217, 217, 217);
  height: 600px;
  width: 700px;
  justify-content: center;
}

#image-carousel {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  position: absolute;
  height: 500px;
  width: 75px;
  outline-width: 50px;
}

.carousel-image {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 50%;
}

#selected-style-image {
  opacity: 1;
}


.carousel-image:hover {
  opacity: 1;
}

#image{
  object-fit: cover;
  height: 600px;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  max-width: 700px;
}

.prodInfo {
  display: flex;
  flex-direction: column;
  width: 420px;
  padding-left: 20px;
}

#stylePhotos {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
  justify-content: left;
  padding-bottom:20px;
}

#category {
  padding-top: 20px;
  font-weight: 300;
}

#prodName {
  font-size: xx-large;
  color: rgb(90, 90, 90);
}

.price {
  flex-wrap: wrap;
  padding-top: 20px;
}
#prodPrice {
  padding-top: 20px;
}

.productStyle {
  display: flex;
}

#stylePointer {
  padding-top: 20px;
  padding-bottom: 20px;
}

#styleName {
  justify-content: right;
  padding-top: 20px;
  font-weight: 300;
}

#checkmark {
  position: absolute;
}

#style-photo{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin: 12px;
}

#select-size-container {
  flex-wrap: wrap;
  height: 50px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

}

#select-size {
  width: 40%;
  height: 100%;
  flex: wrap;
  justify-content: center;
}

#select-amount {
  width: 40%;
  height: 100%;

}

#cart-heart {
  height: 40px;
  flex: wrap;
  justify-content: space-evenly;
}

#cart {
  width: 30%;
  height: 100%
}

#heart {
  font-size: x-large;
  border: black;
  position: absolute;
  left: 1200px;
}

#social {
  border: 2px black solid;
  padding-top: 10px;
  display: flex;
  flex-direction: row;

}

#twitter {
  height: 50px;
  width: 50px;
  background-color: rgb(40, 169, 255);
  justify-content: center;
}

.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

////////////////////////////////





////////////////////////////////

// .RightSideData {
//   display: flex;
//   justify-content: flex-end;
// }

.reviewImage {
  max-width: 100px;
  max-height: 100px;
}

#fiveBarProgress{
  height: 10px;
  // border: 1px solid black;
  // display: flex;
}
#fourBarProgress{
  height: 10px;
  // border: 1px solid black;
  // display: flex;
}
#threeBarProgress{
  height: 10px;
  // border: 1px solid black;
  // display: flex;
}
#twoBarProgress{
  height: 10px;
  // border: 1px solid black;
  // display: flex;
}
#oneBarProgress{
  height: 10px;
  // border: 1px solid black;
  // display: flex;
}

#addReviewModal {
  width: 80%;
  border: 1px solid black;
}


#searchbar{
    background-color: white;
    background-image: url('./searchicon.png');
    background-position: 98% 8px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: 65%;
    min-width: 25%;
    max-width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.container {
  max-height: 700px;
  overflow: auto;
  border-bottom: solid;
  margin-bottom: 20px;
  padding-bottom: 10px;
}


.container {
  max-height: 700px;
  overflow: auto;
  border-bottom: solid;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

#searchbar{
    background-color: white;
    background-image: url('./searchicon.png');
    background-position: 98% 8px;
    background-repeat: no-repeat;
    padding-left: 40px;
    width: 65%;
    min-width: 25%;
    max-width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.text-muted{
  font-size: x-small;
  font-weight: 100;
}
.modal-input{
  width: 40%;
  height: 5%;
}